.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
.cursor/**
.env
.env.*
.gcloud/**
website/**
services/**
scripts/**
releases/**
firestore/**
infra/**
githooks/**
logs/**
plugins.manifest.json
.github/**
